* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #0284C7;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: cursive;
    color: bisque;
    height: 5rem;
}

h1 {
    font-size: 40px;
}

.container {
    display: grid;
    grid-template-rows: 1fr 6fr;
    height: 100vh;
}

.books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    background-image: url(icons/Books.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    gap: 16px;
    padding: 30px;
}

@keyframes spawn-in {
    from {
        transform: scale(1.2);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.book {
    animation: spawn-in 500ms;
    background-color: rgba(156, 188, 240, 0.8);
    padding: 16px;
    height: 400px; 
    width: 300px;
    border: 2px solid #0284C7;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1.5fr 1fr 1fr 1fr;
    justify-self: center; 
    align-self: start;
    color: #6c3a19;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 200ms;
    box-sizing: border-box;
    justify-self: center; 
    align-self: start;
    color: #6c3a19;
}

.material-symbols-outlined {
    font-size: 70px !important;
    align-self: center;
    justify-self: center;
    grid-area: 1 / 1/ 4/ 3;
    transform: translateY(30px);
}

.material-symbols-outlined:hover {
    cursor: pointer;
}

.add-new:hover {
    transform: scale(97%);
    background: #0284C7;
    cursor: pointer;
  }

  .title{
    font-weight: bold;
    font-size: 35px;
    text-align: center; 
    grid-area: 1 / 1 /2 / 3;
  
  }
  .author{
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    align-self:flex-start;
    justify-self: center;
    font-size: 25px;;
  }

  .pages, .read {
    align-self: end;
    font-size: 20px;
    grid-row: 4 / 4;
  }

  .read {
    justify-self: end;
    font-weight: bold;
    background-color: rgb(38, 238, 45);
    padding: 5px;
    border-radius: 10px;
  }

  #new-entry {
    display: flex;
    flex-direction: column;
  }

  #new-book{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #new-book input{
     max-width: 100%; 
     padding: 20px;
     box-sizing: border-box;
     text-align: center;
  }

  textarea {
    resize: none;
    line-height: 1.2;
    text-align: center;
    vertical-align: middle;
    color: #6c3a19;
    width: 100%;
  }

  textarea::placeholder{
    text-align: center;
    vertical-align: middle;
    line-height: inherit;
  }

  #new-book-submit:hover{
    background-color: #0284C7;
    color: white;
    cursor: pointer;
  }

  .btn {
    padding: 10px 50px;
    border: 2px solid #6c3a19 ;
    background: transparent;
    font-size: 2rem;
    display: inline-block;
    color: #6c3a19;
    height: 140px;
  }

  #new-book > * {
    margin: 5px;
  }

  #new-book-author{
    height: 34px;
    align-self: center;
    width: 100%;
    overflow-wrap: break-word;
    color: #6c3a19;
  }

  input {
    overflow-wrap: break-word;
  }

  #new-book-pages{
    height: 30px;
    width: 80%;
    color: #6c3a19;
  
  }
  #new-book > *:nth-child(3){
   display: flex;
   justify-content: center;
   align-items: center;
  }

  #new-book > *:nth-child(3) > * {
    margin: 5px;
  }

  .read-align{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    transform: translateY(-8px);
  }

  #read{
    transform: scale(1.5);
    cursor: pointer;
  }

  .input-error {
    border: 2px solid red !important;
  }

  input[type="radio"]:checked + label {
    filter: brightness(100%);
  }