* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #0284C7;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #FFFFFF;
    height: 5rem;
}

h1 {
    font-size: 40px;
}

.container {
    display: grid;
    grid-template-rows: 1fr 6fr;
    height: 100vh;
}

.books {
    display: grid;
    grid-template-columns: repeat(autofill, minmax(300px, 1fr));
    background-image: url(icons/Books.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    gap: 16px;
    padding: 30px;
}

.book {
    height: 200px;
    background-color: rgba(68, 64, 64, 0.9);
}